In [68]:
import numpy as np
import pandas as pd

In [69]:
def dupcheck(array):
    
    empty=[]
    
    for i in array:
            if i in empty:
                return True 
            empty.append(i)
                
    return False

In [130]:
board =[
 ["5","3",".",".","7",".",".",".","."]   
 ,["6",".",".","1","9","5",".",".","."] 
 ,[".","9","8",".",".",".",".","6","."] 
 ,["8",".",".",".","6",".",".",".","3"] 
 ,["4",".",".","8",".","3",".",".","1"] 
 ,["7",".",".",".","2",".",".",".","6"] 
 ,[".","6",".",".",".",".","3","8","."] 
 ,[".",".",".","4","1","9",".","2","5"] 
 ,[".",".",".",".","8",".",".","7","9"]]

In [131]:
#replace all dots with nan using regex
board=pd.DataFrame(board).replace('\.+', np.nan, regex=True)

In [132]:
#board=board.astype('Int64')
board

     0    1    2    3    4    5    6    7    8
0    5    3  NaN  NaN    7  NaN  NaN  NaN  NaN
1    6  NaN  NaN    1    9    5  NaN  NaN  NaN
2  NaN    9    8  NaN  NaN  NaN  NaN    6  NaN
3    8  NaN  NaN  NaN    6  NaN  NaN  NaN    3
4    4  NaN  NaN    8  NaN    3  NaN  NaN    1
5    7  NaN  NaN  NaN    2  NaN  NaN  NaN    6
6  NaN    6  NaN  NaN  NaN  NaN    3    8  NaN
7  NaN  NaN  NaN    4    1    9  NaN    2    5
8  NaN  NaN  NaN  NaN    8  NaN  NaN    7    9

In [133]:
dupcheck(board.iloc[1,:].dropna())

False

In [134]:
for i in range(board.shape[0]):
    state = 0
    if (dupcheck(board.iloc[i,:].dropna()) or dupcheck(board.iloc[:,i].dropna())):
        state=1
        break
    
        
    if i%3 == 0:
        for j in range(board.shape[0]):
            if j%3 ==0:
                a=pd.DataFrame(board.iloc[i:i+3,j:j+3].values.reshape(-1,9))
                a=a.iloc[0,:]
                #print (a.dropna())
        
                if dupcheck(a.dropna()) :
                    state=1
                    break
        
    if state == 1:
        break
        
                    
if state==1:
    print ("not valid")
        
else:
    print('valid')

valid